
<div class="container" ng-controller="CandidatoListCtrl">
  <h4 class="page-header">Lista de candidatos</h4>
  <!--<div class="alert alert-info">
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ searchCandidatos }}</p>
  </div>-->
  
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
        <input type="text" class="form-control" placeholder="Pesquisa de candidatos" ng-model="searchCandidatos">
      </div>      
    </div>
  </form>
  
  <table class="table table-sm table-condensed">
    <thead>
      <tr>
        <td class="col-sm-1">
          <a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse">
            Id 
            <span class="glyphicon sort-icon" ng-show="sortType == 'id'" ng-class="{'glyphicon-chevron-up':sortReverse,'glyphicon-chevron-down':!sortReverse}"></span>
          </a>
        </td>
        
        <td class="col-sm-3">
          <a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">
          E-mail
          	<span class="glyphicon sort-icon" ng-show="sortType == 'email'" ng-class="{'glyphicon-chevron-up':sortReverse,'glyphicon-chevron-down':!sortReverse}"></span>
          </a>
        </td>
        
        <td class="col-sm-5">
          <a href="" ng-click="sortType = 'nome'; sortReverse = !sortReverse">
          Nome
          	<span class="glyphicon sort-icon" ng-show="sortType == 'nome'" ng-class="{'glyphicon-chevron-up':sortReverse,'glyphicon-chevron-down':!sortReverse}"></span>
          </a>
        </td>
        <td class="col-sm-2">
          <a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse">
          Data
          	<span class="glyphicon sort-icon" ng-show="sortType == 'created_at'" ng-class="{'glyphicon-chevron-up':sortReverse,'glyphicon-chevron-down':!sortReverse}"></span> 
          </a>
        </td>
        <td class="col-sm-2"></td>
        <td class="col-sm-2"><a ng-click="add(0)" class="btn btn-sm btn-primary">Novo</a></td>
      </tr>
    </thead>
    
    <tbody>
      <tr dir-paginate="roll in candidatos | orderBy:sortType:sortReverse | filter:searchCandidatos| itemsPerPage:11">
        <td>{{ roll.id }}</td>
        <td>{{ roll.email }}</td>
        <td>{{ roll.nome }}</td>
        <td><div date-format = "roll.created_at"></div></td>
        <td><button ng-click="edit(roll.id)" class="btn btn-sm btn-primary">Editar</button></td>
        <td><button ng-click="del(roll.id)" class="btn btn-sm btn-danger"  ng-really-message="Deseja mesmo efetuar essa opera&ccedil;&atilde;o">Excluir</button></td>
      </tr>
    </tbody>    
  </table>
  <dir-pagination-controls
	max-size="10"
	direction-links="true"
	boundary-links="true" >
</dir-pagination-controls>
</div>


