<div class="row botoes">
    <div class="col-sm-2"></div>
    <div class="col-sm-1"><button type="button" class="btn btn-default btn-sm" ng-click="add(0)" ng-disabled="disableBtn" data-modo="novo">Novo</button></div>
    <div class="col-sm-1"><button type="submit" class="btn btn-primary btn-sm">Gravar</button></div>
    <div class="col-sm-1"><button type="button" class="btn btn-primary btn-sm" ng-click="goNextPrev(urlPrev)" ng-disabled="disableBtn" data-modo="previous">Anterior</button></div>
    <div class="col-sm-1"><button type="button" class="btn btn-primary btn-sm" ng-click="goNextPrev(urlNext)" ng-disabled="disableBtn" data-modo="next">Pr&oacute;ximo</button></div>
    <div class="col-sm-1"><button type="button" class="btn btn-default btn-sm" ng-click="goBack()" data-modo="voltar">Voltar</button></div>
    <div class="col-sm-1"><button type="reset" class="btn btn-default btn-sm">Cancelar</button></div>
</div>         
